fastapi==0.104.1
uvicorn[standard]==0.24.0
qdrant-client==1.7.0
langchain-huggingface==0.0.3
torch>=2.2.0
requests==2.31.0
pywin32==306
python-multipart==0.0.6
sentence-transformers
transformers
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
prometheus-client==0.20.0

# Testing dependencies  
pytest==7.4.3
pytest-asyncio==0.21.1
asgi-lifespan==2.1.0
httpx==0.25.2
sentencepiece
tika
openpyxl
xlwings
extract-msg==0.55.0
PySide6
tqdm
langchain
langchain-community
customtkinter
setuptools<81